@model AccountWebMVC.Models.ViewModels.ReleasesFormViewModel

@{ ViewData["Title"] = "Create";
    Layout = null;
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Lançamento</h2>
            </div>
            <div class="modal-body">
                <form asp-action="Create" id="myform">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Release.Local" class="control-label"></label>
                        <select asp-for="Release.LocalID" asp-items="@(new SelectList(Model.Local,"Id","Nome"))"
                                class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Release.Valor" class="control-label"></label>
                        <input asp-for="Release.Valor" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Release.Data" class="control-label"></label>
                        <input asp-for="Release.Data" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



