@{ 
    ViewData["Title"] = "Index";
}

<body>
    <div class="container">
        <h2>Logue com seu usuário</h2>
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>

        <div class="modal fade" id="loginModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span>Login</h4>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Logar" id="myform">
                            <form role="form">
                                <div class="form-group">
                                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Usuário</label>
                                    <input type="text" class="form-control" id="usrname" name="usrname" placeholder="Informe o nome de usário" />
                                </div>
                                <div class="form-group">
                                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Senha</label>
                                    <input type="text" class="form-control" id="psw" name="psw" placeholder="informe a Senha" />
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" checked /> Lembrar-me</label>
                                </div>
                                <button type="submit" class="btn btn-default btn-success btn-block">
                                    <span class="glyphicon glyphicon-off"></span> Login
                                </button>                                
                            </form>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal" >
                            <span class="glyphicon glyphicon-remove"></span> Cancelar
                        </button>
                        <p>Não é um membro? <a href="#">Assine</a></p>
                        <p>Esqueceu a <a href="#">Senha?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>